[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
easydict = "*"
torch = "*"
tqdm = "*"
numpy = "*"
transformers = "*"
ipython = "*"
evaluate = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.8"
