[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
easydict = "*"
torch = "*"
tqdm = "*"
numpy = "*"
transformers = "*"
ipython = "*"
evaluate = "*"
scipy = "*"
scikit-learn = "*"
accelerate = "*"
bitsandbytes = "*"
cuda-python = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
